<?xml version="1.0"?>
<config>
	<modules>
		<Miragedesign_Contactcustomiser>
			<version>0.1.0</version>
		</Miragedesign_Contactcustomiser>
	</modules>
    <frontend>
        <routers>
            <contacts>
                <args>
                    <modules>
                        <Miragedesign_Contactcustomiser before="Mage_Contacts">Miragedesign_Contactcustomiser</Miragedesign_Contactcustomiser>
                    </modules>
                </args>
            </contacts>
        </routers>
        <layout>
            <updates>
                <contactcustomiser>
                    <file>md_contactcustomiser.xml</file>
                </contactcustomiser>
            </updates>
        </layout>               
    </frontend>   
    <global>
        <models>
            <contactcustomiser>
                <class>Miragedesign_Contactcustomiser_Model</class>
            </contactcustomiser>
        </models>
        <blocks>
            <contactcustomiser>
                <class>Miragedesign_Contactcustomiser_Block</class>
            </contactcustomiser>                               
        </blocks>
        <helpers>
            <contactcustomiser>
                <class>Miragedesign_Contactcustomiser_Helper</class>
            </contactcustomiser>
        </helpers>
    </global>
    <default>
        <contacts>
            <contactcustomiser_captcha>
                <enabled>1</enabled>
                <site_key>6LckLhATAAAAABk2bId8LKYZYqvsCmrU6gKDjb6S</site_key>
                <secret_key>6LckLhATAAAAAIG9ztQ6pqRdy9X5dZGF_jLJERPW</secret_key>
            </contactcustomiser_captcha>
        </contacts>
    </default>
</config> 
