<?xml version="1.0"?>
<config>
    <modules>
        <Artis_MembershipPackage>
            <version>0.1.0</version>
        </Artis_MembershipPackage>
    </modules>
    <frontend>
        <routers>
            <membershippackage>
                <use>standard</use>
                <args>
                    <module>Artis_MembershipPackage</module>
                    <frontName>membershippackage</frontName>
                </args>
            </membershippackage>
        </routers>
        <layout>
            <updates>
                <membershippackage>
                    <file>membershippackage.xml</file>
                </membershippackage>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<membershippackage>
				<use>admin</use>
				<args>
					<module>Artis_MembershipPackage</module>
					<frontName>membershippackage</frontName>
				</args>
			</membershippackage>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<membershippackage module="membershippackage">
				<title>MembershipPackage</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="membershippackage">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>membershippackage/adminhtml_membershippackage</action>
					</items>
				</children>
			</membershippackage>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Artis_MembershipPackage>
							<title>MembershipPackage Module</title>
							<sort_order>10</sort_order>
						</Artis_MembershipPackage>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<membershippackage>
					<file>membershippackage.xml</file>
				</membershippackage>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <membershippackage>
                <class>Artis_MembershipPackage_Model</class>
                <resourceModel>membershippackage_mysql4</resourceModel>
            </membershippackage>
            <membershippackage_mysql4>
                <class>Artis_MembershipPackage_Model_Mysql4</class>
                <entities>
                    <membershippackage>
                        <table>membershippackage</table>
                    </membershippackage>
                </entities>
            </membershippackage_mysql4>
        </models>
        <resources>
            <membershippackage_setup>
                <setup>
                    <module>Artis_MembershipPackage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </membershippackage_setup>
            <membershippackage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </membershippackage_write>
            <membershippackage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </membershippackage_read>
        </resources>
        <blocks>
            <membershippackage>
                <class>Artis_MembershipPackage_Block</class>
            </membershippackage>
        </blocks>
        <helpers>
            <membershippackage>
                <class>Artis_MembershipPackage_Helper</class>
            </membershippackage>
        </helpers>
    </global>
</config>