<?xml version="1.0"?>
<config>
    <modules>
        <Artis_Salesforceconnect>
            <version>0.1.0</version>
        </Artis_Salesforceconnect>
    </modules>
    <frontend>
        <routers>
            <salesforceconnect>
                <use>standard</use>
                <args>
                    <module>Artis_Salesforceconnect</module>
                    <frontName>salesforceconnect</frontName>
                </args>
            </salesforceconnect>
        </routers>
        <layout>
            <updates>
                <salesforceconnect>
                    <file>salesforceconnect.xml</file>
                </salesforceconnect>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<salesforceconnect>
				<use>admin</use>
				<args>
					<module>Artis_Salesforceconnect</module>
					<frontName>salesforceconnect</frontName>
				</args>
			</salesforceconnect>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<salesforceconnect module="salesforceconnect">
				<title>Salesforceconnect</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="salesforceconnect">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>salesforceconnect/adminhtml_salesforceconnect</action>
					</items>
				</children>
			</salesforceconnect>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Artis_Salesforceconnect>
							<title>Salesforceconnect Module</title>
							<sort_order>10</sort_order>
						</Artis_Salesforceconnect>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<salesforceconnect>
					<file>salesforceconnect.xml</file>
				</salesforceconnect>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <salesforceconnect>
                <class>Artis_Salesforceconnect_Model</class>
                <resourceModel>salesforceconnect_mysql4</resourceModel>
            </salesforceconnect>
            <salesforceconnect_mysql4>
                <class>Artis_Salesforceconnect_Model_Mysql4</class>
                <entities>
                    <salesforceconnect>
                        <table>salesforceconnect</table>
                    </salesforceconnect>
                </entities>
            </salesforceconnect_mysql4>
        </models>
        <resources>
            <salesforceconnect_setup>
                <setup>
                    <module>Artis_Salesforceconnect</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salesforceconnect_setup>
            <salesforceconnect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salesforceconnect_write>
            <salesforceconnect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salesforceconnect_read>
        </resources>
        <blocks>
            <salesforceconnect>
                <class>Artis_Salesforceconnect_Block</class>
            </salesforceconnect>
        </blocks>
        <helpers>
            <salesforceconnect>
                <class>Artis_Salesforceconnect_Helper</class>
            </salesforceconnect>
        </helpers>
    </global>
</config>