<?xml version="1.0"?>
<config>
    <modules>
        <Equity_FacebookPixel>
            <version>1.2.3</version>
        </Equity_FacebookPixel>
    </modules>

    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <equity_facebookpixel_section>
                                            <title>Facebook Pixel</title>
                                        </equity_facebookpixel_section>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <equity_facebookpixel>
                    <file>equity_facebookpixel.xml</file>
                </equity_facebookpixel>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <equity_facebookpixel>
                <class>Equity_FacebookPixel_Block</class>
            </equity_facebookpixel>
        </blocks>

        <events>
            <controller_action_postdispatch_contacts_index_post>
                <observers>
                    <equity_facebookpixel_aftercontactsubmitform_observer>
                        <class>equity_facebookpixel/observer</class>
                        <method>afterContactSubmitObserver</method>
                    </equity_facebookpixel_aftercontactsubmitform_observer>
                </observers>
            </controller_action_postdispatch_contacts_index_post>
            <customer_register_success>
                <observers>
                    <equity_facebookpixel_register_success>
                        <class>equity_facebookpixel/observer</class>
                        <method>trackCustomerRegister</method>
                    </equity_facebookpixel_register_success>
                </observers>
            </customer_register_success>
            <checkout_cart_add_product_complete>
                <observers>
                    <equity_facebookpixel_productaddedtocart_observer>
                        <class>equity_facebookpixel/observer</class>
                        <method>productAddedToCart</method>
                    </equity_facebookpixel_productaddedtocart_observer>
                </observers>
            </checkout_cart_add_product_complete>
        </events>

        <helpers>
            <equity_facebookpixel>
                <class>Equity_FacebookPixel_Helper</class>
            </equity_facebookpixel>
        </helpers>

        <models>
            <equity_facebookpixel>
                <class>Equity_FacebookPixel_Model</class>
            </equity_facebookpixel>
        </models>
    </global>

    <default>
        <equity_facebookpixel_section>
            <facebook_pixel>
                <enabled>0</enabled>
                <facebook_pixel_id></facebook_pixel_id>
            </facebook_pixel>

            <facebook_pixel_options>
                <viewcontent_enabled>1</viewcontent_enabled>
                <search_enabled>1</search_enabled>
                <addtocart_enabled>1</addtocart_enabled>
                <addtowishlist_enabled>1</addtowishlist_enabled>
                <initiatecheckout_enabled>1</initiatecheckout_enabled>
                <addpaymentinfo_enabled>1</addpaymentinfo_enabled>
                <purchase_enabled>1</purchase_enabled>
                <lead_enabled>1</lead_enabled>
                <completeregistration_enabled>1</completeregistration_enabled>
            </facebook_pixel_options>

            <dynamic_products>
                <dynamic_products_enabled>1</dynamic_products_enabled>
                <track_product_type>sku</track_product_type>
            </dynamic_products>

        </equity_facebookpixel_section>
    </default>

</config>