<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <equity translate="label" module="equity_facebookpixel">
            <label>Equity Extensions</label>
            <sort_order>100</sort_order>
        </equity>
    </tabs>
    <sections>
        <equity_facebookpixel_section translate="label" module="equity_facebookpixel">
            <label>Facebook Pixel</label>
            <tab>equity</tab>
            <sort_order>1800</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <facebook_pixel translate="label" module="equity_facebookpixel">
                    <label>Facebook Pixel</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <expanded>1</expanded>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <facebook_pixel_id translate="label">
                            <label>Facebook Pixel ID</label>
                            <frontend_type>text</frontend_type>
                            <comment>Paste your ID, located in the Facebook JS code: fbq('init', '1234567890'); . Caution: Enter ONLY the ID: 1234567890, not the whole code.</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </facebook_pixel_id>
                    </fields>
                </facebook_pixel>
                <facebook_pixel_options translate="label" module="equity_facebookpixel">
                    <label>Tracking Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>70</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                       <viewcontent_enabled translate="label">
                            <label>Track ViewContent</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>When a key page is viewed such as a product page, e.g. landing on a product detail page.</comment>
                        </viewcontent_enabled>

                        <search_enabled translate="label">
                            <label>Track Search</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>When a search is made, e.g. when a product search query is made. The search string is provided to Facebook as well.</comment>
                        </search_enabled>

                        <addtocart_enabled translate="label">
                            <label>Track AddToCart</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>When a product is added to the shopping cart, e.g. click on add to cart button.</comment>
                        </addtocart_enabled>

                        <addtowishlist_enabled translate="label">
                            <label>Track AddToWishlist</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>When a product is added to a wishlist, e.g. click on add to wishlist button.</comment>
                        </addtowishlist_enabled>

                        <initiatecheckout_enabled translate="label">
                            <label>Track InitiateCheckout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>When a person enters the checkout flow PRIOR to completing the checkout flow, e.g. click on checkout button.</comment>
                        </initiatecheckout_enabled>

                        <addpaymentinfo_enabled translate="label">
                            <label>Track AddPaymentInfo</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>When clicked on the final Checkout Button (This event is delayed, so you can ignore the Facebook Pixel Helper warning).</comment>
                        </addpaymentinfo_enabled>

                        <purchase_enabled translate="label">
                            <label>Track Purchase</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>When a purchase is made or checkout flow is completed, e.g. landing on thank you/confirmation page.</comment>
                        </purchase_enabled>

                        <lead_enabled translate="label">
                            <label>Track Lead</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>When a contact form is completed.</comment>
                        </lead_enabled>

                        <completeregistration_enabled translate="label">
                            <label>Track CompleteRegistration</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>When a registration form is completed, e.g. complete subscription/signup for a service.</comment>
                        </completeregistration_enabled>
                    </fields>
                </facebook_pixel_options>
                <dynamic_products translate="label" module="equity_facebookpixel">
                    <label>Dynamic Product Ads</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>80</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <expanded>1</expanded>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <dynamic_products_enabled translate="label">
                            <label>Provide Product Details</label>
                            <frontend_type>select</frontend_type>
                            <comment>Only use if you work with Dynamic Product Ads.</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </dynamic_products_enabled>

                        <track_product_type translate="label">
                            <label>Track Product Type</label>
                            <frontend_type>select</frontend_type>
                            <comment>Which unique identifier should be provided: Product ID or Product SKU?</comment>
                            <source_model>equity_facebookpixel/system_config_source_dropdown_values</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </track_product_type>
                    </fields>
                </dynamic_products>
            </groups>
        </equity_facebookpixel_section>
    </sections>
</config>