.contacts-index-index .form-list li {
    list-style: none;
}
.contacts-index-index .captcha-field {
}
@media screen and (max-width: 768px) {
    .contacts-index-index .content-wrap ul {
        margin-left: 15px;
    }
    .contacts-index-index .content-wrap .fieldset {
        padding: 22px 15px 12px 0px
    }
}
@media screen and (max-height: 575px) {
    #rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
    .contacts-index-index .captcha-field {
        margin-top:-110px;
    }
}